body{
    color: #d11111;
background: rgb(255, 255, 255);
margin:0px;
font-family:"Playwrite USA Modern",sans-serif;
    
}
header{
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color:rgb(245, 245, 245)
}

section{
    background: rgb(0, 184, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    fomt-size: 40px;
}
p{
    font-size:20 px;
}
img{
   haight: 200px;
}