body{
    color: #ff0000;
background: rgb(143, 17, 17);
margin:0px;
font-family:"Playwrite USA Modern",sans-serif;
    
}
header{
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 0, 0)
}

section{
    background: rgb(0, 184, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}