body{
    color: rgb(19,21,19);
background: rgb(200,200,214);
margin: 0px;
    
}
header{
    border-bottom: solid 2px rgb(238, 10, 10);
    padding: 20px;
    font-size: 32px;
    color:rgb(0, 0, 0)
}

section{
    background: green;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
